<div class="notesName">
  @if(isActiveMoreList === index || isActiveMoreList) {
  <app-more-list
    [data]="card"
    (showEditComponent)="showComponent($event, 'edit')"
    (showColorComponent)="showComponent($event)"
    (showDeleteComponent)="showComponent($event)"
  />
  } @if(isColor) {
  <app-color-picker (colorSelected)="changeColor($event)" />
  }

  <div class="taskContainer">
    @if(!isShowComponent) {
    <span>{{ card.taskName }}</span>

    <button class="buttonMore" (click)="isActiveMore(index)">
      <mat-icon> more_vert </mat-icon>
    </button>
    } @else {
    <input type="text" autofocus [(ngModel)]="card.taskName" />
    <button (click)="editCardName()">save</button>
    }
  </div>
  <button class="addButton" (click)="emitAddNoteClicked(); value = true">
    +
  </button>
  @if(value) {
  <app-textarea
    [isNoteActive]="value"
    (isNoteChanges)="isNoteChanges($event)"
    (saveNoteClicked)="handleSaved($event, card.id)"
  />
  }
  <ul
    class="list"
    [ngClass]="{
      list: layout === 'flex',
      listBlock: layout === 'block'
    }"
  >
    @for (note of card.notes ; track $index) {
    <app-notes
      [layout]="layout"
      [note]="note"
      [card]="card"
      [isActive]="isActive"
      [index]="$index"
    />
    }
  </ul>
</div>
