@if(!isComponent){
<li class="noteLi" [ngStyle]="{ 'background-color': note.background }">
  @if(isActive === index || isActive ) {
  <app-more-list
    [data]="note"
    (isActiveEdit)="isActiveComponent($event)"
    (isColor)="isColorActive($event)"
  />
  } @if(isColor) {
  <app-color-picker (colorSelected)="changeColor($event)" />
  }

  <div class="contentContainer">
    <span>{{ note.content }}</span>
    <button class="buttonMore" (click)="isActiveMore(index)">
      <mat-icon> more_vert </mat-icon>
    </button>
  </div>
  <div class="thumbUp">
    @if(note.likes > 0) {
    <button (click)="decreaseLike(note.id)">
      <span class="deleteLike">X</span>
    </button>
    }
    <button
      class="addLike"
      (click)="increaseLike(note.id)"
      [disabled]="note.likes >= 6"
      [ngStyle]="{ cursor: note.likes >= 6 ? 'not-allowed' : 'pointer' }"
    >
      <mat-icon>thumb_up</mat-icon>
    </button>
    <span class="like">{{ note.likes }}</span>
  </div>
</li>
} @if (isComponent) {
<app-public-board-notes
  [note]="note"
  [noteContent]="note.content"
  [moreList]="isComponent"
  (isNoteChanges)="isActiveComponent($event)"
/>
}
