@if(!isTextarea) {
<li class="noteLi" [ngStyle]="{ 'background-color': note.background }">
  @if(isActive === index || isActive ) {
  <app-more-list
    [note]="note"
    (isActiveEdit)="isActiveTextarea($event)"
    (desactiveMore)="isActiveTextarea($event)"
    (isColor)="isColorActive($event)"
  />
  } @if(isColor) {
  <ul class="color">
    <li style="background-color: red" (click)="changeColor('red')"></li>
    <li style="background-color: #208eed" (click)="changeColor('#208eed')"></li>
    <li style="background-color: green" (click)="changeColor('green')"></li>
    <li style="background-color: yellow" (click)="changeColor('yellow')"></li>
    <li style="background-color: orange" (click)="changeColor('orange')"></li>
    <li style="background-color: purple" (click)="changeColor('purple')"></li>
    <li style="background-color: pink" (click)="changeColor('pink')"></li>
    <li style="background-color: brown" (click)="changeColor('brown')"></li>
  </ul>
  }
  <div class="contentContainer">
    <span>{{ note.content }}</span>
    <button class="buttonMore" (click)="isActiveMore(index)">
      <mat-icon> more_vert </mat-icon>
    </button>
  </div>
  <div class="thumbUp">
    @if(note.likes > 0) {
    <button (click)="decreaseLike(note.id)">
      <span class="deleteLike">X</span>
    </button>
    }
    <button
      class="addLike"
      (click)="increaseLike(note.id)"
      [disabled]="note.likes >= 6"
      [ngStyle]="{ cursor: note.likes >= 6 ? 'not-allowed' : 'pointer' }"
    >
      <mat-icon>thumb_up</mat-icon>
    </button>
    <span class="like">{{ note.likes }}</span>
  </div>
</li>
} @if (isTextarea) {
<app-public-board-notes
  [note]="note"
  [noteContent]="note.content"
  [moreList]="isTextarea"
  (isNoteChanges)="isActiveTextarea($event)"
/>
}
