<div class="notesName">
  <div class="taskContainer">
    <span>{{ board.taskName }}</span>
    <button class="buttonMore">
      <mat-icon> more_vert </mat-icon>
    </button>
  </div>
  <button class="addButton" (click)="emitAddNoteClicked(); value = true">
    +
  </button>
  @if(value) {
  <app-public-board-notes
    [isNoteActive]="value"
    (isNoteChanges)="isNoteChanges($event)"
    (saveNoteClicked)="handleSaved($event, board.id)"
  />
  }
  <ul class="list">
    @for (note of notes; track $index) {
    <app-notes
      [notes]="notes"
      [note]="note"
      [isActive]="isActive"
      [index]="$index"
    />
    }
  </ul>
</div>
