<section class="publicBoardContainer">
  <div class="actionsContainer">
    <div class="searchContainer">
      <button>
        <mat-icon> visibility </mat-icon>
      </button>
      <app-filter-input />
    </div>
    <div class="layoutContainer">
      <button>
        <mat-icon>view_column_2</mat-icon>
      </button>
      <button>
        <mat-icon> splitscreen </mat-icon>
      </button>
    </div>
    <button class="addButton" (click)="openDialog()">Add</button>
  </div>

  <div class="containerList">
    <div class="boardList">
      @for (board of dataBoard; track $index) {
      <app-public-board-name [board]="board" [index]="$index" />
      }
    </div>
  </div>
</section>
