@import "../../../styles/mixin.scss";
@import "../../../styles/variables.scss";

.publicBoardContainer {
  .actionsContainer {
    @include maxWidth();
    @include flexBox(flex-end, 0.7rem);
    margin: 1rem auto !important;

    .searchContainer {
      @include flexBox(center, 0.4rem);

      button {
        background: none;
        border: none;
        @include flexBox(center, 0.7rem);
        position: relative;

        mat-icon {
          font-size: 1.1rem;
          height: 15px;
        }
      }

      .visibilityContainer {
        background: $black;
        color: $white;
        flex-direction: column;
        align-items: center;
        gap: 0.2rem;
        padding: 0.5rem;

        position: absolute;
        bottom: -68px;
        right: 1px;
        z-index: 3;
        display: none;

        &.show {
          display: flex;
        }

        &::before {
          content: "";
          position: absolute;
          top: -17px;
          left: 80%;
          transform: translateX(-50%);
          border-width: 10px;
          border-style: solid;
          border-color: transparent transparent $black transparent;
        }
        .lengthCards {
          font-size: 1.4rem;
          font-weight: bold;
        }
      }
    }

    .layoutContainer {
      display: flex;

      button {
        color: #8c8c9e;
        border: 1px solid $primary-color;
        padding: 0.2rem;
        cursor: pointer;
        @include flexBox(center, 0rem);
        background: none;

        mat-icon {
          font-size: 1.2rem;
          width: 20px;
          height: 20px;
        }
      }
    }

    .addButton {
      height: 30px;
      background-color: $primary-color;
      cursor: pointer;
      color: #fff;
      border-radius: 2px;
      width: 100%;
      max-width: 120px;
      border: none;
    }
  }

  .containerList {
    background: $tertiary-color;
    min-height: calc(100vh - 114px);
    overflow: auto;
    padding: 1rem 1.5rem 0 1.5rem;

    .boardList {
      display: flex;
      margin: 1rem 0 0 0;

      &.boardList-block {
        display: block;
      }
    }
  }
}
