<section class="publicBoardContainer">
  <div class="actionsContainer">
    <div class="searchContainer">
      <button (mouseover)="showData = true" (mouseout)="showData = false">
        <mat-icon> visibility </mat-icon>
        <div class="visibilityContainer" [class.show]="showData">
          <span class="lengthCards">{{ cards.length }}</span>
          <span class="lengthName">Cards</span>
        </div>
      </button>

      <app-filter-input (filterChange)="searchData($event)" />
    </div>
    <div class="layoutContainer">
      <button (click)="toggleDisplay('flex')">
        <mat-icon>view_column_2</mat-icon>
      </button>
      <button (click)="toggleDisplay('block')">
        <mat-icon> splitscreen </mat-icon>
      </button>
    </div>
    <button class="addButton" (click)="openDialog()">Add</button>
  </div>

  <div class="containerList">
    <div
      class="boardList"
      [ngClass]="{
        boardList: displayType === 'flex',
        'boardList-block': displayType === 'block'
      }"
    >
      @if(isLoading) {
      <app-spinner />
      } @if(!isLoading) { @for (card of cards; track $index) {
      <app-card
        [cards]="cards"
        [card]="card"
        [index]="$index"
        [valueFilterNotes]="valueFilterNotes"
        [layout]="displayType"

      />
      } }
    </div>
  </div>
</section>
